body {
  margin: 0;
  font-size: 1rem;
}

#vim-status-bar > span > span:last-child {
  color: rgba(255, 255, 255, 0.7) !important;
}

#vim-status-bar > span > span:first-child > input {
  outline: none;
}
